body {
    background: #0e0e0e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* --- Menú --- */
.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 20px;
    background: #111;
    margin: 0;
}

.menu a {
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s;
}

.menu a:hover {
    color: #e63946;
    border-bottom: 2px solid #e63946;
}

/* --- Títulos --- */
.titulo {
    text-align: center;
    margin-top: 25px;
}

/* --- Scroll fotos --- */
.scroll-fotos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 25px;
}

.scroll-fotos img {
    height: 250px;
    border-radius: 10px;
}

/* --- Formulario --- */
form {
    background: #111;
    width: 90%;
    max-width: 450px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 15px;
}

input, textarea, select {
    width: 100%;
    background: #222;
    color: #ddd;
    border: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #e63946;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #b11f2a;
}
